name: Test and Build .NET

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - README.md
  pull_request:
    branches: [ "main" ]

jobs:
  build-dotnet:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes:  10
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            9.0.x
            8.0.x
            6.0.x

      - name: Restore
        run: dotnet restore DisposableEvents.sln

      - name: Build
        run: dotnet build DisposableEvents.sln -c Release --no-restore

      - name: Test
        run: dotnet test DisposableEvents.sln -c Release --no-build --verbosity normal